Source: vyatta-snmp-vrf-agent
Section: net
Priority: optional
Build-Depends: debhelper-compat (= 13),
 autoconf,
 debianutils (>=1.13.1),
 dh-autoreconf,
 linux-libc-dev,
 libsnmp-dev (>= 5.9.5.2+dfsg-3+nudanos1),
 libvrfmanager-vyatta-dev,
 pkg-config
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-snmp-vrf-agent.git
Vcs-Browser: https://github.com/nudanos/vyatta-snmp-vrf-agent

Package: vyatta-snmp-vrf-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: Vyatta SNMP agentx module
 Provides routing instance aware versions of supports MIB's.
 .
